/*color*/
$color-white: white;
$color-gray: #646464;
$color-nobel: #949494;
$color-blue: #678aff;
$color-black: #0b0b0b;
$color-dimgray: #636363;
$color-fordGray: #979797;
$color-green:#4ce052;
$color-red: red;
$color-whiteSmoke: #f0f0f0;
$color-navy: #3766ff;


